*{margin:0; padding:0;}
body{font-family:'맑은고딕';
font-size:16px;
color:#333;}
img{border:0;}
ul,li{list-style:none;}
a{text-decoration: none;}

#wrap{width:100%;}
#wrap > *{float:left;}



/******************** EJ portfolio ************************/
#header{width:100%; height:100px;}
#quick{float:left; width:100%; height:100px; 
      background-color:blueviolet;}
#quick #logo{width:250px; height:100px; 
     display:inline-block;}
#quick #logo p{margin-left:60px; margin-top:20px; font-size:35px;}
#quick #tap{float:right; width:1000px; height:100px; 
    display:inline-block;}
#quick #tap li{float:left; margin-left:80px; margin-top:10px; font-size:45px;}
/********************** introduce *************************/
#introduce{width:100%; height:250px; background-color:beige;}
#introduce h3{width:1150px; height:150px; margin:100px 0 0 50px;}





/************************ skill ***************************/
#skill{clear:both; margin:0 auto; width:1600px; height:550px; background-color:red;}
/* #skill #effect_a{width:985px; height:120px; background-color:aqua;}
#skill #effect_b{width:985px; height:120px; background-color:aqua;}
#skill #effect_c{width:985px; height:120px; background-color:aqua;} */





/*********************** project **************************/






/*********************** finally **************************/