*{margin:0; padding:0;}
body{font-family:'맑은고딕';
font-size:16px;
color:#333;}
img{border:0;}
ul,li{list-style:none;}
a{text-decoration: none;}

#wrap{width:100%;}
#wrap > *{float:left;}



/******************** EJ portfolio ************************/
#header{width:100%; height:100px;}
#header_in{float:left; width:100%; height:100px; 
      background-color:blueviolet;}

#header_in #logo{width:250px; height:100px; 
      display:inline-block; margin-left:60px; margin-top:20px; font-size:35px;}

#header_in #tap{float:right; width:1000px; height:100px; 
      display:inline-block;}
#header_in #tap li{float:left; margin-left:80px; margin-top:15px; font-size:38px;}


/********************** introduce *************************/
#introduce{width:100%; height:250px; background-color:beige;}
#introduce h3{width:1150px; height:150px; margin:100px 0 0 50px;}



/************************ skill ***************************/
#skill{width:100%; height:700px;}
#skill_in{margin: 0 auto;  width:1600px; height:650px;}
#skill div{margin-left:100px; margin-top:50px; border-radius: 50px;  padding:10px; border:1px solid #333;}
#skill #effect_a{width:800px; height:150px;}
#skill #effect_b{width:1000px; height:150px;}
#skill #effect_c{width:1000px; height:150px;}



/*********************** project **************************/
#project{width:100%; height:800px;}
#project_in{margin: 0 auto; width:1600px; height:1900px;}

#project_in #project_a{width:1600px; height:500px;}
#project_in #project_a > div{float:left;}
#project_in #project_a1{width:500px; height:450px; background-color:thistle; opacity:1; border-radius:30px; margin-left:150px;}
#project_in #project_a2{width:1000px; height:450px; background-color:teal; border-radius:30px;  margin-left:250px;}
#project_in #project_a1:hover{opacity:0.7; cursor: pointer;}

#project_in #project_b{width:1600px; height:500px;}
#project_in #project_b > div{float:left;}
#project_in #project_b1{width:500px; height:450px; background-color:thistle; opacity:1; border-radius:30px; margin-left:150px;}
#project_in #project_b2{width:1000px; height:450px; background-color:teal; border-radius:30px;  margin-left:250px;}
#project_in #project_b1:hover{opacity:0.7; cursor: pointer;}

#project_in #project_c{width:1600px; height:500px;}
#project_in #project_c > div{float:left;}
#project_in #project_c1{width:500px; height:450px; background-color:thistle; opacity:1; border-radius:30px; margin-left:150px;}
#project_in #project_c2{width:1000px; height:450px; background-color:teal; border-radius:30px;  margin-left:250px;}
#project_in #project_c1:hover{opacity:0.7; cursor: pointer;}

#project_in #project_d{width:1600px; height:500px;}
#project_in #project_d > div{float:left;}
#project_in #project_d1{width:500px; height:450px; background-color:thistle; opacity:1; border-radius:30px; margin-left:150px;}
#project_in #project_d2{width:1000px; height:450px; background-color:teal; border-radius:30px;  margin-left:250px;}
#project_in #project_d1:hover{opacity:0.7; cursor: pointer;}



/*********************** finally **************************/